@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


*{
    text-decoration: none;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    text-transform: capitalize;
    
}



#bg{
    position: fixed;
    width: 110vw;
    min-height: 100vh;
}

nav{
    position: fixed;
    width: 233px;
    height: 814px;
    left: 45px;
    top: 40px;
}

.title{
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color : white;
}

.dash_btn{
    list-style-type:none;
}

.sec_title{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    margin: 25px;
    gap: 40px;
    width: 200px;
    height: 56px;
    position: relative;

    transition: .05s;
   
    
}


.sec_title#logout_but{
  margin-top: 140px;
}

.dash_btn .tab.is-active .sec_title {

    width: 200px;
    height: 56px;
    padding : 18px;

    background: linear-gradient(101.05deg, #1F8EBE -5.36%, #440495 29.46%, #440495 56.03%, #B102CD 81.92%);
    border-radius: 16px;
}


.sec_title:hover {

  width: 200px;
  height: 56px;
  padding : 18px;
  
  background: linear-gradient(101.05deg, #8fc6de -5.36%, #a181ca 19.46%, #8e68bf 56.03%, #e7b3f0 81.92%);
  border-radius: 16px;
  cursor: pointer;
}



.sec_title:hover i{
    animation: shake .5s;
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(5px);
    }
    40% {
      transform: translateX(-5px);
    }
    60% {
      transform: translateX(5px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }


/*.sec_title a{
  width: 100px;
  height:100px;
  color:#FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}*/


.sec_title h1{
width: 94px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/*transition: .05s;*/



color: #FFFFFF;


flex: none;
order: 1;
flex-grow: 0;

}










.btn_img{
    height: 20px;
    width: 20px;
}



section {
    position: absolute;
    width: 1072px;
    height: 964px;
    left: 329px;
    top: 50px;
    background: rgba(28,28,28,0.5);
    backdrop-filter: blur(5px);
    color:white;
    border-radius: 30px;
}


section .page {
  display: none;
}


section .page.is-active {
  display : block
}


.page.page.is-active{
  display:flex;
  padding:20px;
}

.page.is-active#login{
  display : flex;
  justify-content: center;
  align-items: center;
}



.cont{
width: 253px;
height: 347px;
/*left: 393px;
top: 177px;*/

background: rgba(255, 255, 255, 0.05);
border-radius: 15px;

margin: 20px;
}









form{
  display : flex ; 
  flex-direction: column;
  margin-top: 100px;
}


form h2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
}

#action{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#action #create{
  margin-top: 10px;
  color: #898CA9;
  font-family: 'Inter';
  font-style: normal;
}


form #post {
background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
text-align: center;
color: #FFFFFF;
width: 96px;
height: 40px;

display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

 


form .textfield{

width: 578px;
height: 50px;
margin :15px 0px;

background: #16161E;
border-radius: 10px;
color : white;
}